<!DOCTYPE html>
<html>
  <head>
    <h1>Ruben Ezequiel Solla Medina</h1>
  </head>
    <p>
    <p>
      Hello Coupa family, my name is Rubén and I've recently joined to the Dublin team.



As a brief summarize of my life I could tell you that I was born in Argentina where I've grown up until 13 years old. Then I've moved to Spain with my family, which is my second home after spend the other half part of my life there.

This year, Ireland have appeared in scene. I have come to this country open up to new challenges and step by step is getting an important place into my life.



As a good Argentinian man, I am completely crazy with football. Supporter of River Plate and Barcelona, and mainly super fan of the best player ever, Leo Messi.

In my free time I usually play guitar and also I like to taste all of different kind of beer in Ireland with my friends still trying to choose a favourite one between the infinite options.



On the professional side, I have a Master's Degree in Telecommunications Engineering obtained at the University of Vigo. After that I started my career with an Internship placement in the same University during two years. When I finished this first opportunity, I've got my previous work experience at Satec S.A in Vigo, an IT company where  I've discovered the exciting and variated world of Support, letting me become a multidisciplinary engineer.



Now, I am very proud to be part of Coupa, doing my best everyday to continue developing my knowledge while I try to contribute to the Coupa success.
    </p>
    <p>By the way, this is a website only for pure supporters of the best player ever:</p>
</html>
<%= link_to image_tag('messi.jpg',size: '700x500'), 'https://www.messi.com'  %>

<h2><%= link_to 'Go back to homepage', root_path %></h2>
