<!DOCTYPE html>
<html>
<head>
<title>Hello</title>
</head>
<body>
  <h1>Welcome to my first rails application</h1>
  <p>
      Here you will find all the details about my initial steps, such as this homepage.
      In the meantime I am building this application and there's no much content in here, please feel free to see below my main skills:
  </p>
     <ul>
          <li>Ruby</li>
          <li>Mysql</li>
          <li>Linux</li>
          <li>Integrations</li>
     </ul>

<%= link_to 'Read more about me from here', about_path %>

</body>
</html>
